---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";
const pageTitle = "Home";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body>
    <Header />

    <main>
      <section class="hero">
        <h1>Welcome to My Website</h1>
        <p>
          Discover engaging content, interesting ideas, and more. Stay tuned!
        </p>
        <a target="_blank" href="/about/" class="cta-button"
          >Learn More About Me</a
        >
      </section>
    </main>

    <footer>
      <Footer />
    </footer>
  </body>
</html>
