---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Home";
---

<BaseLayout>
  <h2>
    This got injected with the help of slot. Check the BaseLayout component.
  </h2>
</BaseLayout>
