---
const operatingSystem = "Ubuntu linux";
const quantity = 3;
const footwear = "boots";
const student = false;
---

<html>
  <body>
    <main>
      <p>
        I'm using <strong>WSL2</strong> with {operatingSystem}
      </p>
      <p>I do not have {quantity} pairs of {footwear}</p>
      <p>
        I'm not a {student ? "student" : "student"} of academia but a student of
        Astro!
      </p>
    </main>
  </body>
</html>
