---
import Social from "./Social.astro";
---

<footer>
  <p>
    <Social platform="twitter" username="plantsfortrees" />
    <Social platform="github" username="alok-38" />
    <Social platform="instagram" username="plantsfortrees" />
  </p>
</footer>
